<div class="panel panel-default">
    <div class="panel-heading">WYSZUKAJ PRODUKT PO TYTULE</div>
    <div class="panel-body">
        <input type="search"
               class="form-control"
               autofocus
               ng-model="$ctrl.control.title"/>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">ILOŚĆ PRODUKTÓW NA STRONIE</div>
    <div class="panel-body">
        <select class="form-control "
                style="width: 80px;"
                ng-model="$ctrl.control.itemsPerPage"
                ng-options="item for item in [2, 5, 10]">
        </select>
    </div>
</div>
