<div class="container-fluid" style="background-color: #F3F3F4;border-bottom: 1px solid #e7eaec !important;">
    <span ncy-breadcrumb class="pull-left"></span>
    <ul class="list-inline pull-right" style="margin: 0 !important;">
        <li>
            <a class="header-btn">
                <span class="preloader" ng-class="{show: $root.userState.unsavedData}"></span>
            </a>
        </li>
        <li>
            <a class="header-btn"
               ng-if="!$root.userState.access"
               ng-click="vm.signIn()">
                <i class="glyphicon glyphicon-log-in"></i> zaloguj
            </a>
            <a class="header-btn"
               ng-if="$root.userState.access"
               ng-click="vm.signOut()">
                <i class="glyphicon glyphicon-log-out"></i> wyloguj
            </a>
        </li>
        <li>
            <a class="btn btn-primary visible-xs-inline-block visible-sm-inline-block"
               ng-click="$emit('menu::toggle')">
                <i class="glyphicon glyphicon-menu-hamburger"></i>
            </a>
        </li>
    </ul>
</div>