<div class="animated fadeIn items">
    <div class="form-group-sm row">
        <div class="col-lg-3">
            <search-dctv control="vm.itemsControl"></search-dctv>
        </div>
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-4">
                            <div ng-if="$root.userState.access">
                                <a class="btn btn-primary" ng-click="vm.addItem()">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    dodaj produkt
                                </a>
                            </div>
                            <div class="label label-success">items: {{vm.items.length}} / {{vm.total}}</div>
                        </div>
                        <div class="col-lg-8 text-center">
                            <div uib-pagination
                                 total-items="vm.total"
                                 ng-model="vm.itemsControl.currentPage"
                                 previous-text="<<"
                                 next-text=">>"
                                 max-size="8"
                                 force-ellipses="true"
                                 items-per-page="vm.itemsControl.itemsPerPage">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <item-cmp ng-repeat="item in vm.items"
                              model="item"
                              delete="vm.delete(item)"
                              update="vm.update(item)">
                    </item-cmp>
                </div>
            </div>
        </div>
    </div>
</div>