@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500&subset=latin,latin-ext);

html {
    overflow-y: scroll;
}

body {
    font-family: "ubuntu", sans-serif;
    font-size: 13px;
    color: #676a6c;
}

/*
left*/

.left-container {
    z-index: 1;
    width: 220px;
    position: fixed;
    height: 100%;
    background-color: #2F4050;
    background-image: url("header-profile.png");
    background-repeat: no-repeat;
}

.left-container img {
    width: 80px;
    margin: 22px;
}

/*
content*/

.content-container {
    margin-left: 220px;
}

.content {
    padding: 20px;
}

.breadcrumb {
    margin-bottom: 0;
    font-size: 19px;
    font-weight: bold;
    padding: 8px 3px;
}

@media (max-width: 1000px) {
    .content-container {
        margin-left: 0 !important;
    }

    footer {
        left: 0;
    }
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

a, .glyphicon {
    cursor: pointer;
}

.tab-content {
    padding: 20px;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 160px;
    height: 50px;
    text-align: center;
    padding: 10px;
}

.items .form-control[disabled] {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: default !important;
    background-color: transparent !important;
    border: none;
    resize: none;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container .text-muted {
    margin: 20px 0;
}

/*
validate*/

input.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty,
input.ng-invalid.ng-pristine, textarea.ng-invalid.ng-pristine {
    border-left: 2px solid #D9534F;
}

input.ng-valid.ng-dirty, textarea.ng-valid.ng-dirty {
    border-left: 2px solid #3c763d;
}

/*
preloader*/

.preloader {
    width: 16px;
    height: 16px;
    margin: 5px;
    border: 2px solid #FF0139;
    border-top-color: transparent;
    border-radius: 50%;
    -webkit-animation: spin 1.1s infinite linear;
    animation: spin 1.1s infinite linear;
}

:not(.show).preloader {
    -webkit-animation-name: none;
    animation-name: none;
    display: none;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*
faq*/

.faq-content {
    margin: 10px;
    padding-left: 28px;
}

.faq-content tr > td:nth-child(2) > font, .faq-content tr > td > div:nth-child(2) {
    display: none;
}

.faq-content tr > td > div {
    padding-left: 20px;
}

/*
header-dctv*/

.header-btn {
    color: #999c9e;
    font-size: 15px;
    vertical-align: middle;
    display: inline-block;
    padding: 10px 0;
}

/*
bootstrap override*/

div[uib-pagination] {
    margin: 0;
    padding: 0;
}

div[uib-pagination] > li {
    display: inline-flex;
}

.btn:hover {
    color: midnightblue;
}

